<label>Name</label>
<input type="text" name="name" value="<%= product.name %>">

<label>Description</label>
<input type="text" name="description" value="<%= product.description %>">

<label>Price</label>
<input type="text" name="price" value="<%= product.price %>">