<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= product.name %>">
</div>

<div>
    <label>Description</label>
    <textarea name="description" ><%= product.description %></textarea>
</div>

<div>
    <label>Price</label>
    <input type="text" name="price" value="<%= product.price %>">
</div>

<div>
    <label>Image</label>
    <input type="file" name="image">
</div>